<html>
  <head>
    <title>IDS storage_test Installation</title>
  </head>
  <body>

    <h1>Installation</h1>

    <strong>This storage plugin is designed for testing ids.server.
      It is not intended to be used in production.</strong>

    <h2>Compatibility</h2>
    <p>This will work with an IDS plugin version of 2.0.0 or greater.</p>

    <h2>Prerequisites</h2>

    <ul>
      <li>The ids storage_test distribution:
	<a href="${repoUrl}/org/icatproject/ids.storage_test/${project.version}/ids.storage_test-${project.version}-distro.zip">ids.storage_test-${project.version}-distro.zip</a>
      </li>

      <li>A suitable deployed container (here assumed to be Payara)
	to support a web application. Testing has been carried out with
	Payara 6.
	<a href="http://icatproject.org/installation/glassfish/">Glassfish
	  installation instructions</a> are available.
      </li>

      <li>Python 3 installed on the server.</li>
    </ul>

    <h2>Summary of steps</h2>

    <ol>
      <li>Please follow
	<a href="http://icatproject.org/installation/component/"> the
	  generic installation instructions</a>
      </li>

    </ol>

    <h2>The setup.properties file</h2>

    <dl>
      <dt>container</dt>
      <dd>Should be Glassfish.</dd>
      <dt>home</dt>
      <dd>is the top level of the container installation. It
	must contain "glassfish/domains".</dd>
      <dt>port</dt>
      <dd>is the administration port of the container which is
	typically 4848.</dd>
      <dt>secure</dt>
      <dd>must be set to true or false. If true then only
	https and not http connections will be allowed.</dd>
    </dl>

  </body>
</html>

