<html>
<head>
<title>IDS storage_test Installation</title>
</head>
<body>



	<h1>Installation</h1>

	<h2>Compatibility</h2>
	<p>This will work with an IDS plugin version of 1.3.0 or greater.</p>

	<h2>Prerequisites</h2>

	<ul>
		<li>The ids storage_test distribution: <a
			href="${repoUrl}/org/icatproject/ids.server/${project.version}/ids.storage_test-${project.version}-distro.zip">ids.storage_test-${project.version}-distro.zip</a>
		</li>

		<li>A suitable deployed container (here assumed to be glassfish)
			to support a web application. Testing has been carried out with
			Glassfish 4.0. <a
			href="http://icatproject.org/installation/glassfish/">Glassfish
				installation instructions</a> are available.
		</li>

		<li>Python (version 2.4 to 2.7) installed on the server.</li>
	</ul>

	<h2>Summary of steps</h2>

	<ol>
		<li>Please follow <a
			href="http://icatproject.org/installation/component/"> the
				generic installation instructions</a>
		</li>

	</ol>

	<h2>The ids.storage_test-setup.properties file</h2>

	<dl>
		<dt>container</dt>
		<dd>May be either glassfish or wildfly.</dd>
		<dt>home</dt>
		<dd>is the top level of the container installation. For
			glasssfish it must contain "glassfish/domains" and for wildfly it
			must contain jboss-modules.jar.</dd>
		<dt>port</dt>
		<dd>is the administration port of the container which is
			typically 4848 for glassfish and 9990 for wildfly.</dd>
		<dt>secure</dt>
		<dd>must be set to true or false. If true then only https and not
			http connections will be allowed.</dd>
	</dl>


	<h2>The ids.storage_test.main.properties file</h2>
	<dl>
		<dt>dir</dt>
		<dd>Directory to hold the datafiles</dd>
	</dl>

	<h2>
		The ids.storage_test.archive.properties file">
		<dl>
			<dt>dir</dt>
			<dd>Directory to hold the zipped datafiles</dd>
		</dl>
</body>
</html>

